/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
div {
	margin: 0 auto;
}
:root {
	--text-color: #ffffff;
	--highlight-color: #00e66f;
	--subheading-color: #828282;
	--placeholder-color: #a6a6a6;
	--primary-color: #2f195f;
	--primary-color-accent: rgb(124, 74, 232);
	--secondary-color: #383838;
	--secondary-hover-color: #0c8346;
	--font-size-1: 3rem;
	--font-size-2: 1.5rem;
	--font-size-3: 1.25rem;
	--font-size-4: 1rem;
	--font-size-5: 0.85rem;
}

body {
	background: var(--primary-color);
	color: #ffffff;
	height: 100vh;
}
body:after {
	z-index: -99;
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}
.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 0 auto;
	height: 100%;
	overflow: hidden;
}
.header {
	min-height: 10rem;
	height: 25%;
	overflow-x: hidden;
	text-align: center;
}
.chat-list {
	height: 30%;
	width: 70%;
	margin: 0 auto;
}
.typing-area {
	height: 20%;
	width: 100%;
	left: 0;
}
.chat-history {
	height: 75%;
	scrollbar-color: #999 transparent;
	margin: 0 auto;
	overflow: -moz-scrollbars-vertical;
	width: 100%;
	overflow-y: scroll;
	/* bottom: 0; */
	background: linear-gradient(0deg, rgba(17, 17, 17, 0.3) 0%, rgba(47, 25, 95, 0) 100%);
}

.chat-history:after {
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20%;
	background: linear-gradient(0deg, rgba(17, 17, 17, 0.9) 0%, rgba(47, 25, 95, 0) 100%);
	cursor: all-scroll;
}
.chat-history .message {
	color: var(--primary-color-accent);
	font-size: var(--font-size-3);
	display: flex;
	padding: 0.5rem 0;
	flex-direction: row;
	justify-content: center;
}
.chat-history .icon {
	color: var(--placeholder-color);
	transition: 0.2s ease;
	padding-top: 0.5rem;
	position: absolute;
	font-size: 2rem;
	display: inline-block;
}
.chat-history .icon.hide {
	display: none;
	transition: 0.2s ease;
}

.header,
.chat-list .message,
.typing-form {
	margin: 0 auto;
	max-width: 980px;
	width: 100vw;
}

.header img {
	width: auto;
	height: 10rem;
	max-height: 200px;
	margin: 0 auto;
}
body.hide-header .header {
	margin: 0;
	display: none;
}

.chat-list .message {
	display: flex;
	flex-direction: row;
	justify-items: center;
	width: 100%;
}

.chat-list .message .message-content {
	text-align: center;
}

.chat-list .message .message-content .text1,
.chat-list .message .message-content .text2 {
	white-space: pre-wrap;
	font-size: var(--font-size-2);
	color: var(--text-color);
}

.chat-list .message .message-content .text3 {
	font-size: var(--font-size-1);
	font-weight: 700;
	color: var(--highlight-color);
	transition: all 2s ease;
	width: 100%;
}
.chat-list .message .message-content .text3.hidden {
	opacity: 0;
	transition: all 2s ease;
}
.chat-list .message .message-content .text.error {
	color: #e55865;
}

.chat-list .message.loading .text {
	display: none;
}

.chat-list .message.loading .avatar {
	animation: rotate 3s linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

.chat-list .message .icon {
	display: inline-block;
	color: var(--text-color);
	cursor: pointer;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	font-size: var(--font-size-3);
	margin-left: 3.5rem;
	visibility: hidden;
}

.chat-list .message:not(.loading, .error):hover .icon:not(.hide) {
	visibility: visible;
}

.chat-list .message .icon:hover {
	background: var(--secondary-hover-color);
}

.chat-list .message .loading-indicator {
	display: none;
	gap: 0.8rem;
	width: 100%;
	flex-direction: column;
}

.chat-list .message.loading .loading-indicator {
	display: flex;
}

.chat-list .message .loading-indicator .loading-bar {
	height: 16px;
	width: 100%;
	border-radius: 0.135rem;
	background-position: -800px 0;
	background: linear-gradient(to right, #4285f4, var(--primary-color), #4285f4);
	animation: loading 3s linear infinite;
}

.chat-list .message .loading-indicator .loading-bar:last-child {
	width: 70%;
	height: 40px;
}

@keyframes loading {
	0% {
		background-position: -800px 0;
	}

	100% {
		background-position: 800px 0;
	}
}

.typing-form {
	height: auto;
}
.typing-form .input-wrapper {
	width: 50%;
	display: flex;
	position: relative;
	flex-direction: column;
	gap: 1rem;
}

.typing-form .typing-input {
	width: 100%;
	border: none;
	outline: none;
	resize: none;
	font-size: var(--font-size-3);
	color: var(--text-color);
	padding: 1.1rem 4rem 1.1rem 1.5rem;
	border-radius: 100px;
	background: var(--secondary-color);
	text-align: center;
}

.typing-form .typing-input:focus {
	background: var(--secondary-hover-color);
}

.typing-form .typing-input::placeholder {
	color: var(--placeholder-color);
}

.typing-area .icon,
.action-buttons .icon {
	width: 56px;
	height: 56px;
	flex-shrink: 0;
	cursor: pointer;
	border-radius: 50%;
	display: flex;
	font-size: var(--font-size-3);
	color: var(--text-color);
	align-items: center;
	justify-content: center;
	background: var(--secondary-color);
	transition: 0.2s ease;
}

.typing-area .icon:hover {
	background: var(--secondary-hover-color);
}

.typing-form #send-message-button {
	position: absolute;
	right: 0;
	outline: none;
	border: none;
	transform: scale(0);
	background: transparent;
	transition: transform 0.2s ease;
}

.typing-form .typing-field:valid ~ #send-message-button {
	transform: scale(1);
}

.typing-area .disclaimer-text {
	text-align: center;
	font-size: var(--font-size-5);
	margin-top: 1rem;
	color: var(--placeholder-color);
}
.action-buttons {
	bottom: 0;
	position: fixed;
	width: 100%;
	display: flex;
	gap: 0.75rem;
	padding: 1rem;
	justify-content: right;
}
/* Ghost */
.ghost-container {
	position: absolute;
	top: 32%;
	left: 90px;
	margin-left: -64.5px;
	margin-top: -85.5px;
}

.ghost {
	animation: float 3s ease-out infinite;
}
.ghost-line {
	position: relative;
	height: 1px;
	width: 60px;
	margin-top: -160px;
	margin-right: -60px;
	border-top: 2px dashed var(--primary-color-accent);
	-moz-transform: rotate(-25deg);
	-webkit-transform: rotate(-25deg);
	transform: rotate(-25deg);
}
.mouth {
	position: absolute;
	top: 75px;
	left: 45px;
	transform: scale(1, 0.5);
	transition: 0.25s ease;
	animation: float 3s ease-out infinite;
	z-index: 99;
}
.open {
	transition: 0.25s ease;
	transform: scale(1, 0.75);
}

@keyframes float {
	50% {
		transform: translate(0, 20px);
	}
}
.shadowFrame {
	width: 130px;
	margin-top: 15px;
}
.shadow {
	animation: shrink 3s ease-out infinite;
	transform-origin: center center;
	opacity: 0.3;
	ellipse {
		transform-origin: center center;
	}
}

@keyframes shrink {
	0% {
		width: 90%;
		margin: 0 5%;
	}
	50% {
		width: 60%;
		margin: 0 18%;
	}
	100% {
		width: 90%;
		margin: 0 5%;
	}
}

@media screen and (max-width: 400px) {
	.header > img {
		width: 90vw;
		height: auto;
		margin-top: 20px;
	}
	.ghost-container {
		display: none;
	}
	.typing-form .input-wrapper {
		width: 90vw;
		margin: 0 auto;
	}
	.typing-form .typing-input {
		margin: 0;
	}
	.chat-list {
		width: 90vw;
		height: 50%;
	}
}
