/* Import Google Font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
div {
	margin: 0 auto;
}
:root {
	--text-color: #ffffff;
	--highlight-color: #00e66f;
	--subheading-color: #828282;
	--placeholder-color: #a6a6a6;
	--primary-color: #2f195f;
	--primary-color-accent: rgb(124, 74, 232);
	--secondary-color: #383838;
	--secondary-hover-color: #0c8346;
	--font-size-1: 3rem;
	--font-size-2: 1.5rem;
	--font-size-3: 1.25rem;
	--font-size-4: 1rem;
	--font-size-5: 0.85rem;
	--font-size-mobile-1: 2rem;
	--font-size-mobile-2: 1.2rem;
	--font-size-mobile-3: 1rem;
	--font-size-mobile-4: 0.75rem;
	--font-size-mobile-5: 0.5rem;
}

body {
	background: var(--primary-color);
	color: #ffffff;
	height: 100vh;
	overscroll-behavior: none;
	overflow: scroll;
}
body:after {
	z-index: -99;
	content: " ";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.3;
	background-image: url("../img/background.png");
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin: 0 auto;
	height: 100%;
	overflow: scroll;
}
.header {
	min-height: 20%;
	margin-top: 1rem;
	overflow: none;
	text-align: center;
}
.chat-list {
	min-height: 25%;
	width: 70%;
	margin: 0 auto;
}
.typing-area {
	width: 100%;
	left: 0;
	min-height: 25%;
}
.chat-history {
	flex-grow: 1;
	scrollbar-color: #999 transparent;
	margin: 0 auto;
	width: 100%;
	scroll-behavior: smooth;
	overflow: scroll;
	background: linear-gradient(0deg, rgba(17, 17, 17, 0.3) 0%, rgba(47, 25, 95, 0) 100%);
}

.chat-history:after {
	content: " ";
	display: block;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40%;
	background: linear-gradient(0deg, rgba(17, 17, 17, 0.9) 0%, rgba(47, 25, 95, 0) 100%);
	pointer-events: none;
}
.chat-history .message {
	color: var(--primary-color-accent);
	font-size: var(--font-size-2);
	font-weight: bold;
	opacity: 0.9;
	display: flex;
	padding: 0.5rem 0;
	flex-direction: row;
	justify-content: center;
}
.chat-history .icon {
	color: var(--placeholder-color);
	transition: 0.2s ease;
	padding-top: 0.5rem;
	position: absolute;
	font-size: 2rem;
	display: inline-block;
}
.chat-history .icon.hide {
	display: none;
	transition: 0.2s ease;
}

.header,
.chat-list .message,
.typing-form {
	margin-left: auto;
	margin-right: auto;
	max-width: 980px;
	width: 100vw;
}

.header img {
	width: 100%;
	height: auto;
	margin: 0 auto;
}
body.hide-header .header {
	margin: 0;
	display: none;
}

.chat-list .message {
	display: flex;
	flex-direction: row;
	justify-items: center;
	width: 100%;
}

.chat-list .message .message-content {
	text-align: center;
}

.chat-list .message .message-content .text1,
.chat-list .message .message-content .text2 {
	white-space: pre-wrap;
	font-size: var(--font-size-2);
	color: var(--text-color);
}

.chat-list .message .message-content .text3 {
	font-size: var(--font-size-1);
	font-weight: 700;
	color: var(--highlight-color);
	transition: all 2s ease;
	width: 100%;
}
.chat-list .message .message-content .text3.hidden {
	opacity: 0;
	transition: all 2s ease;
}
.chat-list .message .message-content .text.error {
	color: #e55865;
}

.chat-list .message.loading .text {
	display: none;
}

.chat-list .message.loading .avatar {
	animation: rotate 3s linear infinite;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

.chat-list .message .icon {
	display: inline-block;
	color: var(--text-color);
	cursor: pointer;
	height: 35px;
	width: 35px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: none;
	font-size: var(--font-size-3);
	margin-left: 3.5rem;
	visibility: hidden;
}

.chat-list .message:not(.loading, .error):hover .icon:not(.hide) {
	visibility: visible;
}

.chat-list .message .icon:hover {
	background: var(--secondary-hover-color);
}

.chat-list .message .loading-indicator {
	display: none;
	gap: 0.8rem;
	width: 100%;
	flex-direction: column;
}

.chat-list .message.loading .loading-indicator {
	display: flex;
}

.chat-list .message .loading-indicator .loading-bar {
	height: 16px;
	width: 100%;
	border-radius: 0.135rem;
	background-position: -800px 0;
	background: linear-gradient(to right, #4285f4, var(--primary-color), #4285f4);
	animation: loading 3s linear infinite;
}

.chat-list .message .loading-indicator .loading-bar:last-child {
	width: 70%;
	height: 40px;
}

@keyframes loading {
	0% {
		background-position: -800px 0;
	}

	100% {
		background-position: 800px 0;
	}
}

.typing-form {
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.typing-form .input-wrapper {
	width: 80%;
	display: flex;
	position: relative;
	flex-direction: row;
	gap: 1rem;
}

.typing-form .typing-input {
	width: 100%;
	border: 1px solid var(--placeholder-color);
	outline: none;
	resize: none;
	font-size: var(--font-size-4);
	color: var(--text-color);
	padding: 1.1rem 1.5rem 1.1rem 1.5rem;
	border-radius: 100px;
	background: var(--secondary-color);
	text-align: center;
}

.typing-form .typing-input:focus {
	background: var(--secondary-hover-color);
}

.typing-form .typing-input::placeholder {
	color: var(--placeholder-color);
}

.typing-area .icon,
.action-buttons .icon {
	width: 56px;
	height: 56px;
	flex-shrink: 0;
	cursor: pointer;
	border-radius: 50%;
	display: flex;
	font-size: var(--font-size-3);
	color: var(--text-color);
	align-items: center;
	justify-content: center;
	background: var(--secondary-color);
	transition: 0.2s ease;
}

.typing-area .icon:hover {
	background: var(--secondary-hover-color);
}

.typing-form #send-message-button {
	outline: none;
	border: 1px solid var(--placeholder-color);
	font-size: var(--font-size-3);
	color: var(--text-color);
	border-radius: 50px;
	padding: 10px 20px;
	background-color: var(--secondary-color);
	transition: all 0.2s ease;
	width: 4rem;
	height: 4rem;
	opacity: 0.3;
}
.input-wrapper:has(#nameField:valid + #costumeField:valid) ~ #send-message-button:hover {
	background-color: var(--secondary-hover-color);
}
#send-message-button:active {
	background-color: var(--highlight-color);
}
.input-wrapper:has(#nameField:valid + #costumeField:valid) ~ #send-message-button {
	transition: all 0.2s ease;
	opacity: 1;
}

.typing-area .disclaimer-text {
	text-align: center;
	font-size: var(--font-size-5);
	margin-top: 1rem;
	color: var(--placeholder-color);
}
.action-buttons {
	bottom: 0;
	position: fixed;
	width: 100%;
	display: flex;
	gap: 0.75rem;
	padding: 1rem;
	justify-content: right;
}
/* Ghost */
.ghost-container {
	position: absolute;
	margin: 0 auto;
	max-width: 100vw;
	top: 340px;
	left: 6vw;
	animation: float 3s ease-out infinite;
}

.ghost-line {
	position: relative;
	height: 1px;
	width: 60px;
	margin-top: -160px;
	margin-right: -60px;
	border-top: 2px dashed var(--primary-color-accent);
	-moz-transform: rotate(-25deg);
	-webkit-transform: rotate(-25deg);
	transform: rotate(-25deg);
}
.mouth {
	position: absolute;
	top: 75px;
	left: 45px;
	transform: scale(1, 0.5);
	transition: 0.25s ease;
	z-index: 99;
}
.open {
	transition: 0.25s ease;
	transform: scale(1, 0.75);
}

@keyframes float {
	50% {
		transform: translate(0, 20px);
	}
}
.shadowFrame {
	width: 130px;
	margin-top: 15px;
}
.shadow {
	animation: shrink 3s ease-out infinite;
	transform-origin: center center;
	opacity: 0.3;
	ellipse {
		transform-origin: center center;
	}
}

@keyframes shrink {
	0% {
		width: 90%;
		margin: 0 5%;
	}
	50% {
		width: 60%;
		margin: 0 18%;
	}
	100% {
		width: 90%;
		margin: 0 5%;
	}
}

.color {
	animation: colorchange 50s; /* animation-name followed by duration in seconds*/
	/* you could also use milliseconds (ms) or something like 2.5s */
	-webkit-animation: colorchange 50s; /* Chrome and Safari */
}
.drip-wrapper {
	border: 0px solid var(--secondary-hover-color);
	filter: url("#goo");
	height: 100vh;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	left: auto;
	z-index: -1;
}
.drip-wrapper .drip-top {
	border-radius: 0%;
	height: 50px;
	position: absolute;
	width: 100%;
	top: -40px;
	background: var(--secondary-hover-color);
}
.drip-wrapper .drip-bottom {
	border-radius: 10%;
	height: 50px;
	position: absolute;
	width: 100%;
	bottom: -30px;
	background: var(--secondary-hover-color);
}
.blob1 {
	border-radius: 50%;
	height: 50px;
	left: 0px;
	position: absolute;
	width: 50px;
	background: var(--secondary-hover-color);
}
.drip-wrapper .drip {
	border-radius: 50%;
	height: 50px;
	position: absolute;
	width: 25px;
	background: var(--secondary-hover-color);
	transform: translate(0, 0) scale(2);
}
.drip-wrapper .drip:nth-child(1) {
	animation: drip-1 cubic-bezier(0.66, 0.1, 0.97, 0.36) 5s infinite;
	animation-delay: 1.25s;
	left: 5%;
	top: -29%;
}
.drip-wrapper .drip:nth-child(2) {
	animation: drip-2 cubic-bezier(0.66, 0.1, 0.97, 0.36) 5s infinite;
	animation-delay: 0.5s;
	left: 10%;
	top: -20%;
}
.drip-wrapper .drip:nth-child(3) {
	animation: drip-3 cubic-bezier(0.66, 0.1, 0.97, 0.36) 5s infinite;
	animation-delay: 2s;
	left: 20%;
	top: -25%;
}
.drip-wrapper .drip:nth-child(4) {
	animation: drip-4 cubic-bezier(0.66, 0.1, 0.97, 0.36) 5s infinite;
	animation-delay: 1s;
	left: 30%;
	top: -25%;
}
.drip-wrapper .drip:nth-child(5) {
	animation: drip-5 5s infinite;
	animation-delay: 1.75s;
	left: 50%;
	height: 75px;
	width: 50px;
	top: -20%;
}
.drip-wrapper .drip:nth-child(6) {
	animation: drip-1 cubic-bezier(0.66, 0.1, 0.97, 0.36) 5s infinite;
	animation-delay: 2.25s;
	left: 60%;
	top: -20%;
}
.drip-wrapper .drip:nth-child(7) {
	animation: drip-2 cubic-bezier(0.66, 0.1, 0.97, 0.36) 5s infinite;
	animation-delay: 1.5s;
	left: 75%;
	top: -20%;
	height: 50px;
	width: 30px;
}
.drip-wrapper .drip:nth-child(8) {
	animation: drip-3 cubic-bezier(1, 0.1, 1, 0.1) 3s infinite;
	animation-delay: 1s;
	left: 90%;
	top: -25%;
}
.drip-wrapper .drip:nth-child(9) {
	animation: drip-4 cubic-bezier(0.66, 0.1, 0.97, 0.36) 5s infinite;
	animation-delay: 0.75s;
	left: 100%;
	top: -25%;
}
.drip-wrapper .drip:nth-child(10) {
	animation: drip-5 3s infinite;
	animation-delay: 2.5s;
	left: 50%;
	top: 0%;
	height: 50px;
	width: 40px;
}
.drip-wrapper .drip:nth-child(11) {
	animation: drip-5 4s infinite;
	animation-delay: 0.25s;
	left: 0;
	width: 100px;
	top: -20px;
}
@keyframes drip-1 {
	to {
		transform: translateY(500px) scale(0);
	}
}
@keyframes drip-2 {
	to {
		transform: translateY(800px) scale(0);
	}
}
@keyframes drip-3 {
	to {
		transform: translateY(600px) scale(0);
	}
}
@keyframes drip-4 {
	to {
		transform: translateY(500px) scale(0.4);
	}
}

@keyframes drip-5 {
	0% {
		transform: translateY(0px) scale(2, 0.5);
	}

	80% {
		transform: translateY(20px) scale(1.5, 1.5);
		opacity: 1;
	}

	100% {
		transform: translateY(600px) scale(0, 2);
		opacity: 0;
	}
}
@media screen and (max-width: 1570px) {
	.ghost-container {
		left: 3vw;
	}
}
@media screen and (max-width: 1070px) {
	.ghost-container {
		left: 1vw;
	}
}
@media screen and (max-width: 900px) {
	.drip-wrapper .drip-top {
		top: -20px;
	}
	.typing-form {
		flex-direction: column;
		gap: 1rem;
	}
	.typing-form .input-wrapper {
		width: 90vw;
		margin: 0 auto;
		flex-direction: column;
	}
	.typing-form .typing-input {
		margin: 0;
	}
	.ghost-container {
		display: none;
	}
}
@media screen and (max-width: 400px) {
	.chat-list .message .message-content .text1,
	.chat-list .message .message-content .text2 {
		font-size: var(--font-size-mobile-2);
	}
	.chat-list .message .message-content .text3 {
		font-size: var(--font-size-mobile-1);
	}
	.chat-history .message {
		font-size: var(--font-size-mobile-2);
	}
	.header {
		min-height: 10%;
		margin-bottom: 3rem;
	}
	.header > img {
		width: 100%;
		height: auto;
		margin-top: 20px;
	}
	.typing-form {
		flex-direction: column;
		gap: 1rem;
	}
	.typing-form .input-wrapper {
		width: 90vw;
		margin: 0 auto;
		flex-direction: column;
	}
	.typing-form .typing-input {
		margin: 0;
	}
	.chat-list {
		width: 90vw;
		height: 50%;
	}
	.chat-history:after {
		height: 20%;
	}
}
